<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to root_path, class: "logo" do %>
      <%= image_tag "logo.png", alt: "Logo Image" %>
    <% end %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="navigation-tools">
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link more"><a href="javascript:void(0)"><%= current_user.email %></a>
            <ul class="submenu">
              <li>
                <%= link_to admin_root_path do %>
                  <%= t("navigation.dashboard") %>
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <%= t("navigation.log_out") %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
